extends ../views/form/default-confirmation-form

block formContent
  +formElement({
    type: "agentTaskLog"
  })  

  +formElement({
    type: "agentTaskSubmitResult",
    loadingText: "Please wait while we do stuff. It could take up to X minutes."
  })
